$colWhite:white;
$colf2:#f2f2f2;
$colblue:#0099cc;
$colgray:gray;
$coldgray:darkgray;
$coldblue:#170a8b;
$colbimg:#a79c9ccc;
$colgrey:grey;
$colblack:black;

* {
    box-sizing: border-box;
  }
  body {
    display: block;
    margin: auto;
    overflow-x: hidden;
  }
  .row::after {
    content: "";
    clear: both;
    display: table;
  }
  
  [class*="col-"] {
    float: left;
    padding: 15px;
  }
  
  .header {
    //background-color: #9933cc;
    color: $colWhite;
    padding: 15px;
    //background-image: url("./skate.png");
    margin-bottom: 20px;
    position: relative;
    .headerchild{
      position: relative;
      z-index: 1;
    }
   .mask{
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgba(0,0,0, 0.5);
   }
   .buttonvert{
    border: 1px solid gray;
    width: 25px;
    height:25px;
    position:absolute ;
    top:120px;
    left: 0px ;
    padding:5px auto;
    z-index: 1;
    background-color: green;
    i{
      padding-top: 5px;
      padding-bottom: 5px;
      padding-left: 35%;
      padding-right: 35%;
      width: 1px;
      height: 1px;
    }
   }
   .buttonrond{
    border: 1px solid grey;
    width: 25px;
    height:25px;
    position:absolute ;
    bottom:-10px;
    margin-right: 50% ;
    margin-left: 50% ;
    border-radius: 50%;
    padding:5px auto;
    z-index: 1;
    background-color: #4a3bcc;
    i{
      padding-top: 5px;
      padding-left: 30%;
      padding-right: 30%;
    }
   }
  }
  .menupro{
    background-color:$colf2; 
   // opacity: 0.5;
   
  }

  .menuh{
    //border: 1px solid red;
    font-size: 1.0em;
    ul{
        list-style-type: none;
        margin: O;
        padding: 0; 
        border: none;
    }
    li{
        padding: 6px;
        margin-bottom: 5px;
        color: $colWhite;    // #d13495; 
        &:hoover{
            background-color: $colblue;
        }
    }
    .guide{
        font-weight: bold;
        font-size: 20px;
    }
    .signup{
        border: 3px solid $colWhite;
        text-align: center;
        color: $colWhite;
        background-color: transparent;
        border-radius: 7px;
        opacity: 0.5;
    }
    .signupba{
      border: 2px solid $colgray;
      padding-right: 5px;
      text-align: center;
      background-color: $coldgray ;
      border-radius: 7px;
      opacity: 0.8;
    }
    .signupbc{
      border: 2px solid $colgray;
      padding-right: 5px;
      text-align: center;
      background-color: $coldblue ;
      border-radius: 7px;
      opacity: 0.8;
    
    }
  }

  .menup{
    border-radius: O 5px 5px Opx;
   
    .menupimg{
      border-top: 2px solid $colbimg;
      border-left: 2px solid $colbimg;
      border-right: 2px solid $colbimg;
      border-radius: 5px 5px 0px 2px ;
      box-shadow: 0px  $colgrey;
      img{
        object-fit: fill;
        margin: 0 auto;
      }
    }
   
    .menupa{
        border: 1px solid rgb(167, 162, 162);
        padding: 0 auto;
        box-shadow: 0px 3px 2px 0px $colgrey;
        border-radius: 0px 0px 5px 5px;
        opacity: 0.5;
    }
}
  .product {
    color: $colblack;
    text-align: center;
    padding: 0px;
    background-color: $colWhite;
  }
  .productf {
    color: $colblack;
    text-align: center;
    padding: 0px;
    opacity: 0.5;
  }

  .produit::after{
    content: "";
    clear: none;
    display: table;
  }

  .menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  .menu li {
    padding: 8px;
    margin-bottom: 7px;
    background-color: #33b5e5;
    color: $colWhite;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  }
  
  .menu li:hover {
    background-color: #0099cc;
  }
  
  .aside {
    background-color: #33b5e5;
    padding: 15px;
    color: #ffffff;
    text-align: center;
    font-size: 14px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  }
  

  [class*="col-"] {
    width: 100%;
  }
  
  @media only screen and (min-width: 768px) {
 
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}

    
  }


 
  .row,
  .row > .column {
    padding: 8px;
  }
  

  .column {
    float: left;
    width: 33.33%;
    display: none; 
  }

  
  .content {
    background-color: $colWhite;
    padding: 10px;
  }
  
  
  